@charset "utf-8";
html{color:#000;
     background:#fff;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
 padding: 0;
 margin: 0;
 }
 table {
 border-collapse: collapse;
 border-spacing: 0;
 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
ol,ul,li { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
input, textarea, select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	font-size:100%; /*兼容ie*/
}
img{
	border:0 none;
}
a{
	text-decoration: none;
	color: #fff;
}
input{
	border:none;
}
